<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dumb hack proj for Hack UVA</title>
</head>
<body>
    <h1><%= instructor_name %></h1>
<!--     <% classes.forEach(function(class) { %>
        <h2><%= class.class_name %>: <%= class.class_number %></h2>
    <% }); %>   
}) -->
<ul>
  <% classes.forEach(function(class){ %>
    <p>hi</p>
    <!-- <%- include('class/show', {class: class}) %> -->
  <% }); %>
</ul>

</body>
</html>